{% extends 'layout.html' %}

{% block content %}

{% if invitation %}
<li id="Faber">Faber <input type="button" id="checkFaber" value="Check connections"></li>
<li id="Alice">Alice <input type="button" id="checkAlice" value="Check connections"></li>

<form id="formDeleteInvitation" action="processDeleteInvitation" method="POST">
    <input type="submit" id="btnDeleteConnection" value="연결 끊기">
</form>
{% else %}
<form id="formInvitation" action="processCreateInvitation" method="POST">
    <input type="button" id="btnCreate" value="초대장 생성">
</form>
{% endif %}

{% endblock %}